/* Custom Stylesheet */
@font-face{ 
	font-family: 'Roboto';
	src: url('fonts/Roboto-Light-webfont.eot');
	src: url('fonts/Roboto-Light-webfont.eot?iefix') format('eot'),
	     url('fonts/Roboto-Light-webfont.woff') format('woff'),
	     url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg') format('svg');
    font-style:normal;
    font-weight:300;
}

@font-face{
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic-webfont.eot?iefix') format('eot'),
        url('fonts/Roboto-Italic-webfont.woff') format('woff'),
        url('fonts/Roboto-Italic-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Italic-webfont.svg') format('svg');
        font-style:italic;
        font-weight:300;
}

@font-face{
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?iefix') format('eot'),
        url('fonts/Roboto-Bold-webfont.woff') format('woff'),
        url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Bold-webfont.svg') format('svg');
    font-style:normal;
    font-weight:700;
}

section--gray {
    font-family: "Roboto", sans-serif;
}

.system-fonts {
    font-family: Arial, Helvetica, sans-serif;
}

em, strong {
    font-synthesis: none;
  }