@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto Light'),
         url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-300#Roboto') format('svg'); /* Legacy iOS */
  }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Regular'), local('Roboto Regular'),
         url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-regular#Roboto') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto Bold'),
         url('../fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-500#Roboto') format('svg'); /* Legacy iOS */
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

#page {
    background-color:silver;
}

header, section.entryContent footer {
    max-width: 1000px;
    margin:auto;
}

img {
    max-width: 100%;
    height:auto;
}

.xsmall {
    font-size:0.8em;
}