@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto Light'),
         url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-300#Roboto') format('svg'); /* Legacy iOS */
  }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Regular'), local('Roboto Regular'),
         url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-regular#Roboto') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto Bold'),
         url('../fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-500#Roboto') format('svg'); /* Legacy iOS */
  }

  html {
      font-size:16px;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

#page {
    background-color:silver;
}

header, section.entryContent, footer {
    max-width: 1000px;
    margin:auto;
    background-color:#eee;
    padding:3vh 3vw;
}

p, li, blockquote,h1, h2, h3 {
    margin-top:1em;
    margin-bottom:.7em;
    line-height:150%;
}

img {
    max-width: 100%;
    height:auto;
}

figure {
    text-align: center;
}

.heroImage figure {
    position: relative;                                                                             
}

.heroImage figcaption {
    position: absolute;
    bottom:4px;
    z-index:99;
    width:100%;
    background-color:rgba(255,255,255,0.5);
    padding:4px;
}

.xsmall {
    font-size:0.8rem;
}

h1 {
    font-size:2rem;
    font-weight: 500;
}

h2 {
    font-size:1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

figcaption {
    font-size:0.7rem;
    text-align: center;
}

section p:first-of-type:first-letter {
    font-size: 3rem;
}

strong {
    font-weight: 500;
}

.authorMeta , footer {
   margin:20px auto;
   background-color:#fff;
   border-radius:10px;
}

.authorMeta, footer {
    color:#666;
}

.authorMeta .authorPortait{
    border-radius:100%;
    margin:15px;
    width:80px;
    float:left;
}

article:after,
footer:after,
.authorMeta:after {
    clear:both;
    content:'';
    display:table;
}

.authorMeta span {
    display:block;
}

.authorMeta .authorName {
    padding-top:20px;
    font-weight:500;
    display:inline-block;
    width: auto;
}

.authorMeta .authorFollow {
    display: inline-block;
    margin:0 5px;
    border:1px solid #ddd;
    border-radius:5px;
    padding:2px 4px;
    font-size:0.7rem;
}

