.container {
    display:flex;
}

.red {
    background:orangered;
    display:flex;
    flex-direction:column;
}

.green {
    background: yellowgreen;
}

.blue {
    background:steelblue;
}

.container > div {
    font-size:5vw;
    padding:.5em;
    color:white;
    flex:1;
}

* {
    box-sizing: border-box;
}

body.layout {
    margin:0;
    display: flex;
    min-height:100vh;
    flex-direction: column;
}

main {
    display:flex;
    flex:1;
}

main > article {
    flex:1;
}

main > nav,
main > aside {
    flex:0 0 20vw;
    background: beige;
}

main > nav {
    order:-1;
}

header, footer, article, nav, aside {
    padding:1em;
}

header, footer {
    background: yellowgreen;
    height: 20vh;
}

@media screen and (max-width: 575px) {
    main {
      flex-direction: column;
    }
  }